html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Crimson Text', serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.body--white {
    background-color: white;
}

.body--dark {
    background-color: rgb(83, 82, 82);
    color: white;
}

.body--neon {
    background-color: rgb(0, 255, 55);
    color: rgb(0, 0, 0);
}

.body__header {
    font-family: 'Crimson Text', serif;
    padding: 50px;
    text-align:center;
    color:teal;
}

